body{
    background-color: #f8f8f8;
}

.menu li > a {
    color: darkblue;    
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;
}

.menu li {
    list-style-type: none;
    text-align: left;
}

.articleTitle {
    color: black;
    font-size: 14px;
    font-weight: 400;
    background-color: #eaeaea;
}

.articleShort {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.articleFull {
    color: #484343;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.articleProp li {
    font-size: 12px;
    list-style-type: circle;
}

.contacts legend{
    font-size: 20px;
    text-align: left;
}

.contacts input {
    width: 400px;
    height: 20px;
    color: #484343;
    font-size: 12px;
    text-align: left;
}

.contacts textarea[name="SubjectText"] {
    width: 480px;
    height: 100px;
    font-size: 16px
}

.contacts input[type="submit"] {
    width: 200px;
    height: 30px;
    color: black;
    font-size: 12px;
    text-align: center;
}

.contacts input[type="reset"] {
    width: 200px;
    height: 30px;
    color: black;
    font-size: 12px;
    text-align: center;
}

.img {
    border-color: blue;
    border-style: solid;
    border-width: 1px;
}

.mainCatalog li {
    list-style-type: none;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
}

.mainCatalog li > a {
    text-decoration: none;
}
